* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: white;
    font-size: 20px;

    text-align: center;
    vertical-align: middle;

    display: table-cell;
}

h2 {


}

header {
    height: 70px;
    width: 100%;

    background-color: black ;

    display: table;
}

table {
    height: 100%;
    width: 100%;

}

#mainbody1 {
    height: calc(100vh - 70px);
    width: 100%;

    background-color: rgb(245, 245, 220);
    display: table;
}

#mainbody1-board {
    background-color: white;

    height: 600px;
    width: 600px;

    margin: 0 auto;
    margin-top: 5%;

    border: solid black 2px;
}

#mainbody1-buttons {
    height: 100px;
    width: 50%;

    margin: 0 auto;

    margin-top: 1%;

    background-color: white;

    display: table;
    table-layout: fixed;
}

#mainbody1-buttons span {
    display: table-cell;
    text-align: center;

    vertical-align: middle;
}
